body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.navbar {
    background: #3e2723 !important;
}

.navbar-brand {
    font-size: 20px;
}

.nav-link {
    transition: 0.3s;
}

.nav-link:hover {
    color: #ffc107 !important;
}

html {
    scroll-behavior: smooth;
}

.hero {
    background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
    url("https://images.unsplash.com/photo-1509042239860-f550ce710b93");

    background-size: cover;
    background-position: center;

    height: 90vh;

    display: flex;
    align-items: center;
}

.hero h1 {
    font-size: 50px;
    letter-spacing: 1px;
}

.hero p {
    font-size: 18px;
}

.hero-icon {
    font-size: 160px;
    color: #ffffff;
}

.stat-card {
    border: none;
    border-radius: 18px;

    transition: all 0.3s ease;

    padding: 10px;
}

.stat-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}

.stat-icon {
    font-size: 55px;
    margin-bottom: 10px;
}

.card h3 {
    font-weight: bold;
}

.menu-card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s;
}

.menu-card img {
    height: 220px;
    object-fit: cover;
}

.menu-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.card {
    border-radius: 15px;
    border: none;
}

.card-body {
    padding: 30px;
}

.form-control,
.form-select {
    border-radius: 8px;
}

.form-control:focus,
.form-select:focus {
    box-shadow: none;
    border-color: #795548;
}

.btn-primary {
    background-color: #6d4c41;
    border: none;
}

.btn-primary:hover {
    background-color: #4e342e;
}

.footer {
    background: #3e2723;
    padding: 25px;
    font-size: 14px;
}